<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>epay</title>
</head>
<body>
<h1>pay</h1>

<form action="#" th:action="@{/dopay}" th:object="${message}" method="post">
    <p>支付人id: <input type="text" th:field="*{id}" /></p>
    <p>收款人id: <input type="text" th:field="*{id}" /></p>
    <p>支付金额: <input type="number" th:field="*{content}" /></p>
    <p><input type="submit" value="支付" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>